text.label {
	color: #9090F0;
}
radio.method {
	stroke: #909090;
}
listbox {
	resizingMode: legacy;
	sortable: false;
	alternateFill: automaticAlternate;
	horizontalLineStroke: transparent;
	verticalLineStroke: transparent;
	selectionMode: single;
}
input.text {
	stroke: #F0F070;
	fill:#333333;
	enterable: false;
	contextMenu: none;
	class: text;
	fontWeight: bold;
	dragging: none;
	dropping: none;
}

input.chunk {
	stroke: #43e233;
	fill:#333333;
	enterable: false;
	contextMenu: none;
	class: text;
	fontWeight: bold;
	dragging: none;
	dropping: none;
}